body {
  font-family: "Inter Tight", sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ee6f4b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a361a;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ee6f4b transparent;
}
